/* Basic css options */
html{
	margin:0;
	padding:0;
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
}

body{
	background-color:#f5f5f5;
	background-image:url("../media/pics/bg.png");
	background-repeat:repeat;
	background-attachment:fixed;
	color:#1A1A1A;
	height:100%;
}


h1, h2, h3, h4{ /* Header font: Oswald */
	color:#1A1A1A;
	margin:0 0 20px 0;
	font-family: 'Oswald', sans-serif;
}

h1{
	font-weight:900;
}

h2{
	font-weight:700;
}

p{ /* Paragraph font: Oxygen */
	font-family:'Oxygen', sans-serif;
	font-weight:400;
}

a{
	color:#DBAD96;
	text-decoration:none;
}

a:hover{
	color:#db6f39;
	text-decoration:none;
}

#search button{
	outline:none;
	width:960px;
}

#search input[type="text"]{
	width:885px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}

/* IDs */
#content, #footer{
	margin:0;
	padding:20px 0;
	height:auto;
	width:100%;
}

#header{
	background-color:#F5F5F5;
	width:100%;
	height:52px;
	padding:0;
	border-bottom:1px solid #dddddd;
}

#header a{
	float:right;
	margin:10px 0;
}

#header button{
	margin:15px 0;
}

#content{
	display:block;
	overflow:hidden;
	word-wrap:break-word;
	height:auto;
	max-width:960px;
	margin:0 0 200px 0;
}

#content h3{
	color:#1a1a1a;
}

#footer{
	border-top:1px solid #dddddd;
	background-color:#F5F5F5;
	color:#d5d5d5;
	height:40px;
	padding:10px 0 20px;
}

#search{
	margin:20px 0 0 0;
}

#searchbar{
	margin:0;
}
#submitsearch{
	margin:0;
}

#info{}
#ok{margin:0 auto;}

#information{
	background-color:#ed9d2b;
	display:none;
	z-index:100;
	position:absolute;
	top:52px;
	left:76%;
	margin:0 auto 0 auto;
	padding:10px;
	width:300px;
	height:auto;
	color:#F5F5F5;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

#information a{
	color:#eb2700;
}

#information a:hover{
	color:#eb4a2b;
}

#information h3{
	color:#F5F5F5;
}

/* Classes */
.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px;
	width:960px;
}

.soft{
	color:#ed9d2b;
	font-size:12px;
}

.musicleft{
	min-height:200px;
	float:left;
	height:auto;
	overflow:auto;
	width:470px;
	background-color:#FFFFFF;
	border-radius:2px;
	border:1px solid #e3e3e3;
	padding:10px;
	margin:5px 10px 5px 0;
}

.musicright{
	min-height:200px;
	float:right;
	height:auto;
	overflow:auto;
	width:470px;
	background-color:#FFFFFF;
	border-radius:2px;
	border:1px solid #e3e3e3;
	padding:10px;
	margin:5px 0 5px 10px;
}

.track{
	height:auto;
	overflow:auto;
	width:auto;
	padding:10px 0 0;
	margin:10px 0 20px 0;
	border-bottom:1px solid #E3E3E3;
}

.floatright{
	float:right;
	padding:0;
	margin:0 0 0 10px;
}

.floatleft{
	float:left;
	padding:0;
	margin:0 10px 0 0;
}
