/* Basic css options */
html{
	margin:0;
	padding:0;
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
}

body{
	background-color:#f5f5f5;
	background-image:url("../media/pics/bg.png");
	background-repeat:repeat;
	background-attachment:fixed;
	color:#1a1a1a;
	height:100%;
}


h1, h2, h3, h4{ /* Header font: Source Sans Pro */
	color:#f5f5f5;
	margin:0 0 20px 0;
	font-family: 'Source Sans Pro', sans-serif;
}

h1{
	font-weight:900;
}

h2{
	font-weight:700;
}

p{ /* Paragraph font: Oxygen */
	font-family:'Oxygen', sans-serif;
	font-weight:400;
}

a{
	color:#DBAD96;
	text-decoration:none;
}

a:hover{
	color:#db6f39;
	text-decoration:none;
}

input{
	margin:0;
	padding:0;
	display:inline-block;
	height:35px;
	border:none;
}

input:focus{
	outline:none;
}

input[type="text"]{
	width:885px;
	border-radius:2px;
	padding:0 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(219, 173, 150, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(219, 173, 150, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(219, 173, 150, 0.75);
}

input[type="text"]:focus{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(219, 173, 150, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(219, 173, 150, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(219, 173, 150, 0.75);
}

input[type="button"]{
	position:relative;
	top:-1px;
}

/* IDs */
#content, #footer{
	margin:0;
	padding:20px 0;
	height:auto;
	width:100%;
}

#header{
	background-color:#1a1a1a;
	width:100%;
	height:52px;
	color:#f5f5f5;
	padding:0;
}

#header a{
	float:right;
	display:block;
	width:100px;
	height:50px;
	padding:15px 29px;
}

#header a:hover{
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(126,186,232,0) 98%, rgba(125,185,232,0) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(98%,rgba(126,186,232,0)), color-stop(99%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(126,186,232,0) 98%,rgba(125,185,232,0) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(126,186,232,0) 98%,rgba(125,185,232,0) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(126,186,232,0) 98%,rgba(125,185,232,0) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(126,186,232,0) 98%,rgba(125,185,232,0) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

#content{
	display:block;
	overflow:hidden;
	word-wrap:break-word;
	height:auto;
	max-width:960px;
	margin:0 0 200px 0;
}

#content h3{
	color:#1a1a1a;
}

#footer{
	background-color:#1a1a1a;
	color:#f5f5f5;
	height:auto;
}

#search{
	margin:20px 0 0 0;
}

#searchbar{
	margin:0;
}
#submitsearch{
	margin:0;
}

#info{}
#ok{margin:0 auto;}

#information{
	background-color:#db6f39;
	display:none;
	z-index:100;
	position:absolute;
	top:52px;
	left:76%;
	margin:0 auto 0 auto;
	padding:10px;
	width:300px;
	height:auto;
	color:#F5F5F5;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

#information a{
	color:#FFFFFF;
}

#information a:hover{
	color:#FCF8E3;
}

#information h3{
	color:#F5F5F5;
}

/* Classes */
.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px;
	width:960px;
}

.track{
	height:120px;
	width:100%;
	background-color:#FFFFFF;
	border-radius:2px;
	border:1px solid #e3e3e3;
	padding:10px;
	margin:5px 0;
}

.floatright{
	float:right;
	padding:0;
	margin:0 0 0 10px;
}

.floatleft{
	float:left;
	padding:0;
	margin:0 10px 0 0;
}
